
.post-author .media .media-left {
	padding-right: 40px
}

.post-author .media .media-left .media-object {
	width: 120px;
	border-radius: 50%
}

.post-author .author-social {
	margin-top: 15px
}

.post-author .author-social li {
	display: inline-block;
	margin-right: 5px
}

.post-author .author-social li>a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #a7b3c6;
	color: #fff;
	border-radius: 2px;
	-webkit-transition: .2s opacity;
	transition: .2s opacity
}

.post-author .author-social li>a:hover,
.post-author .author-social li>a:focus {
	color: #fff;
	opacity: .9
}

.post-comments .media {
	padding-top: 15px;
	border-top: 1px solid #eceef2
}

.post-comments .media:nth-child(1) {
	padding-top: 0;
	border-top: none
}

.post-comments .media .media-left {
	padding-right: 11rem
}

.post-comments .media .media-left .media-object {
	width: 70%;
	border-radius: 50%
}

.post-comments .media .media-body .media-heading h4 {
	text-transform: capitalize
}

.post-comments .media .media-body .media-heading .time {
	font-size: 13px;
	margin-right: 15px;
	color: #a7b3c6
}

.post-comments .media .media-body .media-heading .reply {
	font-size: 13px;
	color: #a7b3c6;
	-webkit-transition: .2s color;
	transition: .2s color
}

.post-comments .media .media-body .media-heading .reply:hover,
.post-comments .media .media-body .media-heading .reply:focus {
	color: #212631;
	text-decoration: none
}
